[submodule "zombiebase"]
	path = zombiebase
	url = https://github.com/shejian/ZombieBase.git
	branch = develop
[submodule "subearth"]
	path = subearth
	url = https://github.com/shejian/earthmodule.git
	branch = develop
[submodule "subrn"]
	path = subrn
	url = https://github.com/li95/subrn.git
