<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avengers">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.avengers.appgalaxy.ui.ScrollingActivity"
            android:label="@string/app_name"

            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.avengers.weather.ui.WeatherActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".weather.ui.NoDBWeatherActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".weather.WeatherMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".weather.ui.ImageDemoActivity" />


    </application>

</manifest>